<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="path_to_your_font_directory/Chirp-VariableFont_wght.ttf" />
  </head>
  <body class="bg-black">
    <section class="flex flex-col gap-5">
      <p class="text-white">assignment 1.1</p>
      <!-- Default Buttons start -->
      <section class="flex gap-8">
        <p class="text-white">Default</p>
        <!-- Create account default button -->
        <button
          class="py-2 px-6 w-82 flex justify-center rounded-65 bg-neutral-50 items-center font-inter font-bold not-italic leading-normal text-base text-neutral-1000">
          Create account
        </button>
        <!-- Follow defaultbutton -->
        <button
          class="py-2 px-5 w-21 flex justify-center items-center rounded-full bg-neutral-50 font-inter font-bold not-italic leading-normal text-sm text-neutral-1000">
          Follow
        </button>
        <!--Next default button-->
        <button
          class="py-3 px-6 w-442 flex justify-center rounded-full bg-neutral-50 items-center font-chirp font-bold not-italic leading-normal text-base text-neutral-1000">
          Next
        </button>
        <!-- Post-1 default button -->
        <button
          class="py-fifteen px-ninentyThree w-48 flex justify-center items-center rounded-full bg-tblue font-inter text-base not-italic font-bold leading-normal text-white">
          Post
        </button>
        <!-- Post-2 default button -->
        <button
          class="px-6 py-3 w-21 flex justify-center items-center rounded-1 bg-tblue font-inter text-base not-italic font-bold leading-normal text-white">
          Post
        </button>
        <!-- Post-3 default button -->
        <button
          class="px-5 py-5 w-442 flex justify-center items-center bg-tblue rounded-full font-inter text-base not-italic font-bold leading-normal text-white">
          Post
        </button>
      </section>
      <!-- Default Button End -->

      <!-- Hover Button Start -->
      <section class="flex gap-8">
        <p class="text-white">Hover</p>
        <!-- Hover create button -->
        <button
          class="py-2 px-6 w-82 flex justify-center rounded-full bg-neutral-200 items-center font-inter font-bold not-italic leading-normal text-base text-neutral-1000">
          Create account
        </button>
        <!-- Hover follow button -->
        <button
          class="py-2 px-5 w-22 flex justify-center items-center rounded-full bg-neutral-200 font-inter font-bold not-italic leading-normal text-sm text-neutral-1000">
          Follow
        </button>
        <!-- Hover next button -->
        <button
          class="py-3 px-6 w-442 flex justify-center rounded-full bg-neutral-50 items-center font-chirp font-bold not-italic leading-normal text-base text-neutral-1000">
          Next
        </button>
        <!-- Hover Post-1 button -->
        <button
          class="py-fifteen px-ninentyThree w-48 flex justify-center items-center rounded-full bg-tblue font-inter text-base not-italic font-bold leading-normal text-neutral-50 hover:bg-tblue1">
          Post
        </button>
        <!-- Hover Post-2 button-->
        <button
          class="px-6 py-3 w-21 flex justify-center items-center rounded-1 bg-tblue font-inter text-base not-italic font-bold leading-normal text-neutral-50 hover:bg-tblue1">
          Post
        </button>
        <!-- Hover Post-3 button -->
        <button
          class="px-5 py-5 w-442 flex justify-center items-center bg-tblue rounded-full font-inter text-base not-italic font-bold leading-normal text-neutral-50 hover:bg-tblue1">
          Post
        </button>
      </section>
      <!-- Hover Button end -->

      <!-- Disable button start -->
      <section class="flex gap-8">
        <p class="text-white">Disabled</p>
        <!-- Disable create button -->
        <button
          class="py-2 px-6 w-82 flex justify-center rounded-full bg-neutral-500 items-center font-inter font-bold not-italic leading-normal text-base text-neutral-1000 cursor-not-allowed">
          Create account
        </button>

        <!-- Disable Follow button -->
        <button
          class="py-2 px-5 w-22 flex justify-center items-center rounded-full bg-neutral-500 font-inter font-bold not-italic leading-normal text-sm text-neutral-1000 cursor-not-allowed">
          Follow
        </button>
        <!-- Disable next button -->
        <button
          class="py-3 px-6 w-442 flex justify-center rounded-full bg-neutral-500 items-center font-chirp font-bold not-italic leading-normal text-base text-neutral-1000 cursor-not-allowed">
          Next
        </button>
        <!-- Disable post-1 button -->
        <button
          class="py-fifteen px-ninentyThree w-48 flex justify-center items-center rounded-full bg-tblue2 font-inter text-base not-italic font-bold leading-normal text-neutral-400 cursor-not-allowed">
          Post
        </button>
        <!-- Disable post-2 button -->
        <button
          class="px-6 py-3 w-21 flex justify-center items-center rounded-1 bg-tblue2 font-inter text-base not-italic font-bold leading-normal text-neutral-400 cursor-not-allowed">
          <p class="">Post</p>
        </button>
        <!-- Disable post-3 button -->
        <button
          class="px-5 py-5 w-442 flex justify-center items-center bg-tblue2 rounded-full font-inter text-base not-italic font-bold leading-normal text-neutral-400 cursor-not-allowed">
          Post
        </button>
      </section>
      <!-- Disable button end -->

      <!-- Outline button start -->
      <section class="flex gap-5">
        <p class="text-white">outline</p>
        <button
          class="py-2 px-6 w-334 flex justify-center items-center border border-bstroke rounded-full">
          <p
            class="font-inter text-base not-italic font-bold leading-normal text-tblue">
            Sign up
          </p>
        </button>
        <button
          class="py-six px-4 w-25 rounded-full flex justify-center items-center border border-bstroke">
          <p
            class="font-inter text-sm not-italic font-bold leading-normal text-neutral-50">
            Following
          </p>
        </button>
      </section>
      <!-- Outline button end -->

      <!-- Selected and default button -->
      <section>
        <div
          class="flex justify-center px-20 py-5 w-598 gap-40 text-neutral-50 text-base not-italic font-medium leading-normal font-chirp border-b">
          <div class="flex justify-center flex-col items-center">
            <p class="text-neutral-400">For you</p>
            <div class="h-1 w-14 bg-tblue rounded-30 mb-0"></div>
          </div>
          <p>Following</p>
        </div>
      </section>
      <!-- Selected and default button end -->

      <!-- Icons -->
      <section class="flex flex-col gap-5">
        <p class="text-white">Default icons</p>
        <div class="flex gap-5">
          <img src="/src/images/home_icon.svg" alt="home_hollow" />
          <img src="/src/images/group.svg" alt="group_hollow" />
        </div>
        <p class="text-white">Selected icons</p>
        <div class="flex gap-5">
          <img src="/src/images/home_fill.svg" alt="home-filled" />
          <img src="/src/images/group_filled.svg" alt="group_filled" />
        </div>
      </section>
    </section>
  </body>
</html>
